body{
    
    background-color: #fafafa;
}

.note-header {
    width: 100%;
    min-height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 3px #eee6e6;
    margin-bottom: 15%;
   
}

.title {
    text-align: center;
    border-bottom: 2px solid #4ec3eb;
    padding-bottom: 10px;
    
}

.body {
    text-align: left;
    width: 70%;
    background-color: rgb(134, 209, 209);
    margin-top: 20px;
    padding-bottom: 10px;
    min-height: 25vh;
    border-left: 10px solid  #4ec3eb;
    border-right: 10px solid  #4ec3eb;
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 30px 10px;
    
}

.body h3 {
    color: rgb(250, 243, 243);
    margin-left: 2.5%;
    letter-spacing: 1px;
    line-height: 40px;
    word-spacing: 3px;
    font-size: 25px;

}

.del {
  
  background-color: rgb(206, 28, 28);
}

.edit {
    background-color: #4ec3eb;
}

.btn1 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 120px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
}